<!DOCTYPE html>
<html>
<head><link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

label, p{
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: 'Varela', sans-serif;
}
h2, h1{
   font-family: 'Varela', sans-serif;
}

.innercontainer {
  border-radius: 5px;
  background-color: #B6F4FF;
  padding: 100px;
}

.outercontainer {
  border-radius: 5px;
  background-color: #C6FAF9;
  padding: 100px;
}

table#table1 {
  width: 100%;
  background-color: #FFDAFD;
  font-family: 'Varela', sans-serif;
  padding: 10%;
  border: 2px solid black;
}
th, td {
  padding: 10px;
}
</style>
</head>
    <body>
    <div id="outercontainer">
        <div class="innercontainer">
            <h1>Stock Profit Report</h1>
              <table id="table1">
                 {% for key, value in stock.items() %}
                    <tr>
                       <th> {{ key }} </th>
                       <td> {{ value }} </td>
                    </tr>
                 {% endfor %}
              </table>
        </div>
    </div>
    </body>
</html>
